* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #210825;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
        a {
            img {
                width: 120px;
                height: 120px;
            }
        }
    }

    nav {
        margin: 0 auto;
        width: ___px;
        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            text-align: center;
            position: relative;

            li {
                margin-left: auto;
                margin-right: auto;

                a {
                    color: #78d5db;
                    font-size: 1.5rem;
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1.4;
                    text-decoration: none;
                    border: none;
                    padding-right: 30px;
                    font-weight: bold;
                    list-style-type: none;

                    &:hover {
                        color: #8c8cac;
                    }
                }
            }
        }

    }

    form {
        margin: 10px;
        padding: 10px;
    }

}

main {
    margin: 20px;
    padding: 20px;
    background: -webkit-linear-gradient(#794c79, #210825);
    background: -moz-linear-gradient(purple, #210825);
    background: -o-linear-gradient(purple, #210825);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #6dc4ae;
}

.segundaPagina { 
    background-color: -webkit-linear-gradient(#794c79, #210825);
    background-color: -moz-linear-gradient(purple, #210825);
    background-color: -o-linear-gradient(purple, #210825);
    padding: 0px;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "studioHeader studioHeader"
        "studioDescription studioDescription"
        "studioVideo1 studioVideo2"
        "studioVideo1 studioVideo2"
        "studioFooter studioFooter";
}    
 
.studioHeader { 
    grid-area: studioHeader;
    background-color: #210825;
    color: #71b8a8;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
    align-content: center;
    nav {
        margin: 0 auto;
        width: ___px;
        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
                margin-left: auto;
                margin-right: auto;

                a {
                    color: #71b8a8;
                    font-size: 1.5rem;
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1.4;
                    text-decoration: none;
                    border: none;
                    padding-right: 30px;
                    font-weight: bold;
                    list-style-type: none;
                }
            }
        }

    }

    form {
        margin: 10px;
        padding: 10px;
    }
 
}
  
.studioDescription { 
        grid-area: studioDescription; 
        margin: 20px;
        padding: 20px;
        background: -webkit-linear-gradient(#794c79, #210825);
        background: -moz-linear-gradient(purple, #210825);
        background: -o-linear-gradient(purple, #210825);
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        text-align: center;
        color: #210825;
}
  
// no se me aplica el espaciado entre items

.seccionVideos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.studioVideo1 { 
        grid-area: studioVideo1; 
}
  
.studioVideo2 { 
        grid-area: studioVideo2; 
}

.studioFooter { 
    grid-area: studioFooter; 
    background-color: #210825;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #71b8a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    align-content: center;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    ul {
        margin: 30px;
        list-style-type: none;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        text-align: center;
        position: relative;

        li {
            font-size: 1.3rem;
            line-height: 1.3;
            padding-right: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.galería {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "headerGaleria headerGaleria headerGaleria headerGaleria"
        "img1 img2 img3 img4"
        "img5 img6 img7 img8"
        "img9 img10 img11 img12"
        "footerGaleria footerGaleria footerGaleria footerGaleria";
}

.headerGaleria {
    grid-area: headerGaleria;
    background-color: #210825;
    color: #71b8a8;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
    align-content: center;

    div {
        a {
            img {
                width: 120px;
                height: 120px;
            }
        }
    }

    nav {
        margin: 0 auto;
        width: ___px;
        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
                margin-left: auto;
                margin-right: auto;

                a {
                    color: #71b8a8;
                    font-size: 1.5rem;
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1.4;
                    text-decoration: none;
                    border: none;
                    padding-right: 30px;
                    font-weight: bold;
                    list-style-type: none;
                }
            }
        }

    }

    form {
        margin: 10px;
        padding: 10px;
    }

}

.img1 {
    grid-area: img1;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img2 {
    grid-area: img2;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img3 {
    grid-area: img3;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img4 {
    grid-area: img4;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img5 {
    grid-area: img5;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img6 {
    grid-area: img6;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img7 {
    grid-area: img7;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img8 {
    grid-area: img8;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img9 {
    grid-area: img9;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img10 {
    grid-area: img10;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img11 {
    grid-area: img11;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.img12 {
    grid-area: img12;

    .imgGrids {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
            transition: .4s;
        }
    }
}

.footerGaleria {
    grid-area: footerGaleria;
    background-color: #210825;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #71b8a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    align-content: center;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    ul {
        margin: 30px;
        list-style-type: none;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        text-align: center;
        position: relative;

        li {
            font-size: 1.3rem;
            line-height: 1.3;
            padding-right: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}



.contacto {
    display: flex;
    align-content: row;
    justify-content: space-around;
    align-items: center;
    height: 450px;

    .encabezadoContacto {
        width: 600px;
    }
}

.links {
    text-decoration: none;
    color: #78d5db;

}

.paginaContacto{
                .header{

                }
                .cuerpoContacto{
                                background-color: #210825;
                                .encabezadoContacto{

                                }
                                .formularioContacto{
                                                    background-color: #210825;
                                                    border-color: #78d5db;
                                                    button{
                                                        .btn-boton {
                                                            background-color: #210825;
                                                            color: #210825;
                                                        }
                                                    }
                                }
                }
                footer{

                }

}


.col-12 {
    color: #210825;
}

footer {
    background-color: #210825;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #78d5db;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin: 0 auto;
    width: ___px;
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        text-align: center;
        position: relative;

        li {
            font-size: 1.3rem;
            line-height: 1.3;
            padding-right: 30px;
            margin-left: auto;
            margin-right: auto;
            margin: 30px;
        }
    }

    a {
        &:hover {
            color: #8c8cac;
        }
    }
}

@media (min-width: 460px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
        }
    }

    .galería {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "headerGaleria headerGaleria"
            "headerGaleria headerGaleria"
            "img1 img2"
            "img3 img4"
            "img6 img7"
            "img8 img9"
            "img11 img12"
            "img13 img14"
            "footerGaleria footerGaleria"
            "footerGaleria footerGaleria";
    }
}

@media (min-width:768px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
        }
    }

    .galería {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "headerGaleria headerGaleria headerGaleria"
            "img1 img2 img3"
            "img4 img6 img7"
            "img8 img9 img11"
            "img12 img13 img14"
            "footerGaleria footerGaleria footerGaleria";
    }
}

@media (min-width:1024px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
        }
    }
    .galería {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "headerGaleria headerGaleria headerGaleria headerGaleria"
            "img1 img2 img3 img4"
            "img5 img6 img7 img8"
            "img9 img10 img11 img12"
            "footerGaleria footerGaleria footerGaleria footerGaleria";
    }
}


@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css') 
